body{
    text-align: center;
    /*Centralizar o nosso quadro (canvas)*/
	background-image:url('city.png'); /*imagem usada de fundo no site*/
	background-size:cover;/*faz a imagem cobrir todo o fundo sem repetição*/
}

/*Começando a estilizar nosso canvas*/
#board{
    background-image:url('fundo.png');
    /*cor de fundo da cor preta*/
    border-top: 5px solid #fa4530;
    border-left: 5px solid #fa4530;
    border-right: 5px solid #fa4530;
    /*Dando cor as bordas do jogo*/
}

/*tamanho e alterações do icone do audio*/
#audios{
	width:10;
	height;5;
}

/*alteração do botão*/
#btn{
	background-color:#ac00e6;
	border:10;
	border-color:#fa4530;
}